@import "../../../theme.scss";

@keyframes spot-warn-inner {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }

  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1;
  }

  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.3;
  }

  75% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes spot-warn-outer {
  0% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0;
  }

  25% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.1;
  }

  50% {
    transform: scale(0.3);
    -webkit-transform: scale(0.3);
    opacity: 0.3;
  }

  75% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0;
  }
}

.pulse-dot {
  position: absolute;
  border-radius: 50%;
  background-color: $se-error;
  &.inner {
    z-index: 2;
    border: 2px solid white;
    width: 18px;
    height: 18px;
    left: 4px;
    top: 16px;
  }
  &.outer {
    border: none;
    width: 24px;
    height: 24px;
    z-index: 1;
    left: 1px;
    top: 13px;
  }
}

.pulse {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -37px;
  top: -24px;
  border: 2px solid $se-error;
  background-color: #eb7575;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  box-shadow: 1px 1px 30px $se-error; /* 阴影效果 */
  &.inner {
    animation: spot-warn-inner 1.5s ease-out;
    animation-iteration-count: infinite;
  }
  &.outer {
    animation: spot-warn-outer 1.5s ease-out;
    animation-iteration-count: infinite;
  }
}

.spot-popup-container {
  width: 300px;
  height: 200px;
  .ant-popover-message {
    display: flex;
    .icon-building {
      flex: none;
      padding-right: 4px;
    }
    .ant-popover-message-title {
      flex: auto;
      padding-left: 0px;
      .content {
        > .header {
          display: flex;
          font-weight: bold;
          padding-bottom: 10px;
        }
      }
    }
  }
}
