$se-primary: #3dcd58;
$se-primary-hover: #70e07c;
$se-error: #ff4d4d;
$se-text: #666666;
$se-text-secondary: #999999;
$se-disabled: #c0c0c0;
$se-bg: #ffffff;
$se-bg-2: #f2f2f2;
$se-border: #e6e6e6;
$se-header: #333333;
